###
# system SWAP, TMP and BACKUP files
###
*~
*.swp
*.bak

###
# Windows
###
Thumbs.db

###
# Mac OS X directory preferences
###
.DS_Store
._*

###
# Sublime
###
sftp-config.json

###
# SCSS Files
###
.sass-cache/

###
# Project files
###
.codekit-cache/
config.codekit*

###
# Compiled files
###
www/wp-content/themes/*/*.css.map
www/wp-content/themes/*/style.css
www/wp-content/themes/*/admin.css
admin.css
*.min.css
*.min.js
*.css.map
min/
optin-monster.css

*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
www/wp-config.php
www/wp-content/uploads/
www/wp-content/blogs.dir/
www/wp-content/upgrade/*
www/wp-content/backup-db/*
www/wp-content/advanced-cache.php
www/wp-content/www/wp-cache-config.php
www/wp-content/cache/*
www/wp-content/cache/supercache/*

# wp core (as of 3.4.1)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/index.php
/wp-content/plugins/index.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
